* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body {
    background: #0b166b;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
    background-color: initial;
    animation: blink 2s infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1; /* fully visible */
  }
  50% {
    opacity: 0; /* fully transparent */
  }
}

@keyframes blink {
    0%, 100% {
      background-color: #0b166b; /* original color */
    }
    50% {
      background-color: #15217d; /* color to blink to */
    }
}
  
  body {
    animation: blink 4s infinite; /* 2 seconds duration, infinite loop */
  }

form {  
    width: 50%; /* Reduced width */
    margin: 100px auto 0; /* Auto margin centers the form horizontally */
    border-bottom: 10px;
    padding: 20px; /* Reduced padding */
}

.app {
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

h1 {
    text-align: center;
    font-weight: 25px;
    color: #fff;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 25px;
}

.quiz {
    padding: 20px 0;
}

h2 {
    text-align: center;
    background-color: #fff;
    font-size: 15px;
    padding: 3px;
    color: #0b166b;
    font-weight: 600;
    border-radius: 5px;
}

h3 {
    text-align: center;
    background-color: #fff;
    font-size: 20px;
    color: #0b166b;
    font-weight: 600;
}


.btn {
    background: #fff;
    color: #222;
    font-weight: 600;
    width: 100%;
    border: 1px solid;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s;
    text-align: center;
}

.btn:hover:not([disabled]){
    background: #363434;
    color: #fff;
}

.btn:disabled {
    cursor: no-drop;

}
#next-btn {
    background: #0b166b;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
}

.main-username {
  font-weight: bold;
}

table {
  width: 45%;
  background: white;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.main-score {
  font-weight: bold;
}


