<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz-App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script type = "text/javascript" src = "{{url_for('static', filename='index.js') }}"></script>
</head> 
<body>
   <div class="app">
    <h1>Simple Quiz</h1>
    <div class="quiz">
        <h2 id="question">{{ question }}</h2>
        <div id="answer-button">
            <button class="btn">{{ answer1 }}</button>
            <button class="btn">{{ answer2 }}</button>
            <button class="btn">{{ answer3 }}</button>
            <button class="btn">{{ answer4 }}</button>
        </div>
        <div class="next-button"></div>
    </div>
   </div>
   
</body>
</html>
